In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#reading clean files from last section
rounds = pd.read_csv("rounds_clean.csv",encoding = "ISO-8859-1")
companies = pd.read_csv("companies_clean.csv", sep="\t", encoding = "ISO-8859-1")

In [3]:
# quickly verify that there are 66368 unique companies in both
# and that only the same 66368 are present in both files
print(len(companies.permalink.unique()))
print(len(rounds.company_permalink.unique()))


# present in rounds but not in companies
print(len(rounds.loc[~rounds['company_permalink'].isin(companies['permalink']), :]))

66368
66368
0

## Missing Value Treatment

Let's now move to missing value treatment. 

Let's have a look at the number of missing values in both the dataframes.

In [5]:
#we can see the missing values from the shape and al the 
companies.info()
companies.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

(66368, 10)

## OR OTHER METHOD

In [6]:
companies.isnull()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,True
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,True,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,True,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,True,True,True,True,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,True
29,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
66338,False,False,False,False,False,False,False,False,False,False
66339,False,False,False,False,False,False,False,False,False,False
66340,False,False,False,False,False,False,False,False,False,False
66341,False,False,False,False,False,False,False,False,False,False
66342,False,False,False,False,False,False,False,False,False,False
66343,False,False,False,False,False,False,False,False,False,False
66344,False,False,False,False,False,False,False,False,False,False
66345,False,False,False,False,False,False,False,False,False,False
66346,False,False,False,False,False,False,False,False,False,False
66347,False,False,False,False,False,False,False,False,False,True
66348,False,False,False,False,False,False,False,False,False,False
66349,False,False,False,False,False,False,False,False,False,False
66350,False,False,False,False,False,False,False,False,False,False
66351,False,False,False,False,False,False,False,False,False,True
66352,False,False,False,False,False,False,False,False,False,False
66353,False,False,False,False,False,False,False,False,False,False
66354,False,False,False,False,False,False,False,False,False,False
66355,False,False,False,False,False,False,False,False,False,False
66356,False,False,False,False,False,False,False,False,False,False
66357,False,False,False,False,False,False,False,False,False,False
66358,False,False,False,False,False,False,False,False,False,False
66359,False,False,False,False,False,False,False,False,False,True
66360,False,False,False,False,False,False,False,False,False,True
66361,False,False,False,False,False,False,False,False,False,False
66362,False,False,False,False,False,False,False,False,False,False
66363,False,False,False,False,False,False,False,False,False,True
66364,False,False,False,False,False,False,False,False,False,False
66365,False,False,False,True,False,True,True,True,True,False
66366,False,False,False,False,False,False,False,False,False,False
66367,False,False,False,False,False,True,True,True,True,True

In [8]:
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [9]:
companies.permalink.isnull().sum()

0

**in numbers view its misinterpretting so, we would like to see this is percentage point of view**

In [11]:
#simillarly looking at rounds missing values data
rounds.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

## Now we will perform merge, seeing that permalink is the common column , we will perform merge in it

In [13]:
master  = pd.merge(companies,rounds, how = "inner" ,left_on = "permalink" , right_on = "company_permalink")

In [14]:
master.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [16]:
master.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at',
       'company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [18]:
#we have permalink as well as company permaling, revoming one of them
master  = master.drop(['company_permalink'],axis=1)

In [19]:
master.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at',
       'funding_round_permalink', 'funding_round_type', 'funding_round_code',
       'funded_at', 'raised_amount_usd'],
      dtype='object')

In [21]:
#looking at missing values
master.isnull().sum()

permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [22]:
#changing them to percentages
round(100*(master.isnull().sum()/len(master.index)),2)

permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

In [23]:
#funding_round_code , almost 72% data is not available hence we will remove it
master = master.drop(['funding_round_code'],axis = 1)

In [24]:
master.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at',
       'funding_round_permalink', 'funding_round_type', 'funded_at',
       'raised_amount_usd'],
      dtype='object')

In [26]:
#from the business perspective state code some columns are not important hence revoing them
master = master.drop(['homepage_url', 'founded_at', 'state_code', 'region', 'city'], axis=1)

In [27]:
master.head()

,permalink,name,category_list,status,country_code,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,operating,IND,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,14-10-2014,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,operating,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,operating,CHN,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,19-03-2008,2000000.0

In [28]:
#looking at missing values again
round(100*(master.isnull().sum()/len(master.index)),2)

permalink                   0.00
name                        0.00
category_list               2.97
status                      0.00
country_code                7.55
funding_round_permalink     0.00
funding_round_type          0.00
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

he column ```raised_amount_usd``` is an important column, since that is the number we want to analyse (compare, means, sum etc.). That needs to be carefully treated. 

Also, the column ```country_code``` will be used for country-wise analysis, and ```category_list``` will be used to merge the dataframe with the main categories.

Let's first see how we can deal with missing values in ```raised_amount_usd```.

In [31]:
#exploring raised_amt_data
master.raised_amount_usd.describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

The mean is somewhere around USD 10 million, while the median is only about USD 1m. The min and max values are also miles apart. 

In general, since there is a huge spread in the funding amounts, it will be inappropriate to impute it with a metric such as median or mean. Also, since we have quite a large number of observations, it is wiser to just drop the rows. 

Let's thus remove the rows having NaNs in ```raised_amount_usd```.

imputing - assign (a value) to something by inference from the value of the products or processes to which it contributes.

The other methods can be remove the outliears and then do the imputations, we can do median or mean imputation

In [32]:
#removing NaNs in the raised amount (its an np method)
np.isnan(master['raised_amount_usd'])
#bool with true when its nan

0         False
1          True
2         False
3         False
4         False
5          True
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14         True
15        False
16        False
17         True
18         True
19         True
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
114919    False
114920    False
114921    False
114922    False
114923    False
114924    False
114925    False
114926    False
114927     True
114928    False
114929    False
114930    False
114931    False
114932    False
114933    False
114934    False
114935    False
114936    False
114937    False
114938    False
114939    False
114940    False
114941    False
114942    False
114943    False
114944    False
114945    False
114946     True
114947    False
114948    False
Name: raised_amount_usd, Length: 114949, dtype: bool

In [33]:
~np.isnan(master['raised_amount_usd'])
#false where its NAN

0          True
1         False
2          True
3          True
4          True
5         False
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14        False
15         True
16         True
17        False
18        False
19        False
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
114919     True
114920     True
114921     True
114922     True
114923     True
114924     True
114925     True
114926     True
114927    False
114928     True
114929     True
114930     True
114931     True
114932     True
114933     True
114934     True
114935     True
114936     True
114937     True
114938     True
114939     True
114940     True
114941     True
114942     True
114943     True
114944     True
114945     True
114946    False
114947     True
114948     True
Name: raised_amount_usd, Length: 114949, dtype: bool

In [34]:
#therefore reomving the nan values
master = master[~np.isnan(master['raised_amount_usd'])]

In [35]:
round(100*(master.isnull().sum()/len(master.index)), 2)

permalink                  0.00
name                       0.00
category_list              1.10
status                     0.00
country_code               6.16
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
dtype: float64

**We can see the raised_amount_usd hai no nan values now**

Now looking at other column with missing data, that is country_code

In [38]:
#exploring country code
#counting values of all the categories 
master["country_code"].value_counts()

USA    62049
GBR     5019
CAN     2616
CHN     1927
IND     1649
FRA     1451
ISR     1364
ESP     1074
DEU     1042
AUS      649
RUS      588
IRL      563
SWE      560
SGP      546
NLD      532
JPN      485
BRA      483
ITA      483
CHE      437
CHL      432
KOR      432
FIN      382
DNK      314
ARG      297
BEL      293
HKG      250
TUR      196
NOR      191
BGR      190
MEX      189
       ...
MCO        2
ZWE        2
ALB        2
BLZ        2
KHM        2
KAZ        2
DOM        2
CIV        2
TUN        2
MKD        1
PRY        1
SOM        1
BRB        1
GRD        1
LAO        1
HND        1
DZA        1
SYC        1
MNE        1
TGO        1
IRN        1
BLM        1
UZB        1
GGY        1
OMN        1
SEN        1
PSE        1
QAT        1
KNA        1
DMA        1
Name: country_code, Length: 134, dtype: int64

## OR the correct way

In [39]:
country_codes = master['country_code'].astype('category')

# displaying frequencies of each category
country_codes.value_counts()

USA    62049
GBR     5019
CAN     2616
CHN     1927
IND     1649
FRA     1451
ISR     1364
ESP     1074
DEU     1042
AUS      649
RUS      588
IRL      563
SWE      560
SGP      546
NLD      532
JPN      485
ITA      483
BRA      483
CHE      437
KOR      432
CHL      432
FIN      382
DNK      314
ARG      297
BEL      293
HKG      250
TUR      196
NOR      191
BGR      190
MEX      189
       ...
KHM        2
DOM        2
MAR        2
MAF        2
KWT        2
NIC        2
ZMB        2
KAZ        2
TUN        2
SOM        1
SYC        1
SEN        1
TGO        1
QAT        1
UZB        1
PSE        1
PRY        1
OMN        1
DMA        1
BLM        1
MNE        1
MKD        1
BRB        1
LAO        1
IRN        1
HND        1
GRD        1
GGY        1
DZA        1
KNA        1
Name: country_code, Length: 134, dtype: int64

In [40]:
# viewing fractions of counts of country_codes
100*(master['country_code'].value_counts()/len(master.index))

USA    65.342937
GBR     5.285439
CAN     2.754873
CHN     2.029297
IND     1.736539
FRA     1.528028
ISR     1.436409
ESP     1.131014
DEU     1.097316
AUS     0.683453
RUS     0.619215
IRL     0.592887
SWE     0.589728
SGP     0.574985
NLD     0.560242
JPN     0.510747
BRA     0.508641
ITA     0.508641
CHE     0.460199
CHL     0.454933
KOR     0.454933
FIN     0.402279
DNK     0.330669
ARG     0.312767
BEL     0.308554
HKG     0.263272
TUR     0.206405
NOR     0.201139
BGR     0.200086
MEX     0.199033
         ...
MCO     0.002106
ZWE     0.002106
ALB     0.002106
BLZ     0.002106
KHM     0.002106
KAZ     0.002106
DOM     0.002106
CIV     0.002106
TUN     0.002106
MKD     0.001053
PRY     0.001053
SOM     0.001053
BRB     0.001053
GRD     0.001053
LAO     0.001053
HND     0.001053
DZA     0.001053
SYC     0.001053
MNE     0.001053
TGO     0.001053
IRN     0.001053
BLM     0.001053
UZB     0.001053
GGY     0.001053
OMN     0.001053
SEN     0.001053
PSE     0.001053
QAT     0.001053
KNA     0.001053
DMA     0.001053
Name: country_code, Length: 134, dtype: float64

Now, we can either delete the rows having ```country_code``` missing (about 6% rows), or we can impute them by ```USA```. Since the number 6 is quite small, and we have a decent amount of data, it may be better to just remove the rows.

**Note that** ```np.isnan``` does not work with arrays of type 'object', it only works with native numpy type (float). Thus, you can use ```pd.isnull()``` instead.

In [43]:
~master['country_code'].isnull()

0          True
2          True
3         False
4          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
15         True
16         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
30         True
31         True
32        False
34         True
35         True
36         True
          ...
114917     True
114918     True
114919     True
114920     True
114921     True
114922     True
114923     True
114924     True
114925     True
114926     True
114928     True
114929     True
114930     True
114931     True
114932     True
114933     True
114934     True
114935     True
114936     True
114937     True
114938     True
114939     True
114940     True
114941     True
114942     True
114943     True
114944     True
114945     True
114947     True
114948    False
Name: country_code, Length: 94959, dtype: bool

In [44]:
#removing rows with missing values in country code
master = master[~master['country_code'].isnull()]

In [45]:
##looking at missing values
round(100*(master.isnull().sum()/len(master.index)), 2)

permalink                  0.00
name                       0.00
category_list              0.65
status                     0.00
country_code               0.00
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
dtype: float64

Note that the fraction of missing values in the remaining dataframe has also reduced now - only 0.65% in ```category_list```. Let's thus remove those as well.

**Note**
Optionally, you could have simply let the missing values in the dataset and continued the analysis. There is nothing wrong with that. But in this case, since we will use that column later for merging with the 'main_categories', removing the missing values will be quite convenient (and again - we have enough data).

In [47]:
# removing rows with missing category_list values
master = master[~pd.isnull(master['category_list'])]

# look at missing values
round(100*(master.isnull().sum()/len(master.index)), 2)

permalink                  0.0
name                       0.0
category_list              0.0
status                     0.0
country_code               0.0
funding_round_permalink    0.0
funding_round_type         0.0
funded_at                  0.0
raised_amount_usd          0.0
dtype: float64

In [48]:
master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88529 entries, 0 to 114947
Data columns (total 9 columns):
permalink                  88529 non-null object
name                       88528 non-null object
category_list              88529 non-null object
status                     88529 non-null object
country_code               88529 non-null object
funding_round_permalink    88529 non-null object
funding_round_type         88529 non-null object
funded_at                  88529 non-null object
raised_amount_usd          88529 non-null float64
dtypes: float64(1), object(8)
memory usage: 6.8+ MB

In [49]:
# writing the clean dataframe to an another file
master.to_csv("master_df.csv", sep=',', index=False)

In [50]:
# after missing value treatment, approx 77% observations are retained
100*(len(master.index) / len(rounds.index))

77.01589400516751